<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saveandroid">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>

        <package android:name="com.spotify.music" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SAVEAndroid"
        android:usesCleartextTraffic="true">

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".UserData"
            android:label="@string/title_activity_user_data" />
        <activity
            android:name=".PrefActivity"
            android:label="PrefActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/Theme.SAVEAndroid.NoActionBar" />
        <activity android:name="FaceDetector.FaceDetectionActivity" />
        <activity android:name=".SendFaceData" />
        <activity
            android:name=".AuthenticationActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidCamera"
            android:label="@string/title_activity_android_camera"
            android:theme="@style/Theme.SAVEAndroid.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"/>

        <service android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService" />
        <service android:name="CameraApp.EmotionService" />
        <service android:name="CameraApp.rPPGService" />
        <service android:name="CameraApp.FatigueService" />
        <service android:name="CameraApp.PedestrianService" />
        <service android:name="CameraApp.CameraService" />
        <service android:name="CameraApp.FrontCameraService" />
        <service android:name="CameraApp.BackCameraService" />
        <service android:name="CameraApp.CrashService" />
        <service android:name="CameraApp.LocationTrackerService" android:enabled="true" android:foregroundServiceType="location">
        </service>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
    </application>

</manifest>